.container-fluid
  .row
    .content-settings.smooth
      .panel.panel-info
        .panel-body.text-muted
          #primer
            - t('views.settings.primer').each do |p|
              %p= p
      = render 'form'
