<!DOCTYPE html>
<html>
<head>
  <title>DiabeticToolbox</title>
  <%= stylesheet_link_tag    "diabetic_toolbox/application", media: "all" %>
  <%= javascript_include_tag "diabetic_toolbox/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
