.row
  .content-member.smooth
    #dashboard_tabs.list-group.list-group-horizontal
      - @tabs.each do |tab,anchor|
        %a{class: "list-group-item #{tab.to_s} #{'active' if active.eql?(tab)}", href: anchor[2], rel: :relativeanchor, alt: anchor[0], title: anchor[0]}
          %span{ class: "fa fa-#{anchor[1]}" }
          .hidden-xs.hidden-sm.smooth= anchor[0]
