%ul#overview.nav
  %li.overview-item.text-center
    .item-label Achievements
    .item-value= achievements
  %li.overview-item.text-center
    .item-label Karma
    .item-value= karma
  %li.overview-item.text-center
    .item-label Recipes
    .item-value= recipes
  %li.overview-item.text-center
    .item-label Since
    .item-value= since
