.container-fluid
  .row
    .content-readings
      - if current_member.readings.size > 0
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th Reading
              %th When
              %th Intake
          %tbody
            - current_member.readings.each do |reading|
              %tr
                %td= @reading.glucometer_value
                %td= @reading.meal.to_s.titlecase
                %td= @reading.intake
      - else
        .text-center
          No Readings Recorded
