%h3 About This App
%p
  The Diabetic Toolbox is a free, open-source web application intended for use by
  diabetics and their physicians.  The goal of this software is to provide the following
  assistance to the daily self-management of diabetes:
  %dl.dl-horizontal
    %dt Record
    %dd
      Ensure readings are stored in a location that can be quickly recalled for reference
      at any time.  The readings recorder asks for the glucometer reading and the quantity
      of carbohydrates/calories present in the meal they are about to have.
    %dt Report
    %dd
      When it is time to visit with the treating physician, the records can be gathered and
      compiled into a PDF document to provide to related healthcare professionals.
    %dt Share
    %dd
      By sharing recipes for healthier (and hopefully tastier) eating, members can learn
      of new meal types that will continue to allow them to explore their boundaries.  Each
      recipe is available for a vote to all members.
    %dt Plan
    %dd
      Having collected many new recipes, the next step is to use the meal planner to chart
      meals and shopping lists into the future to ensure that self-management isn't so
      difficult.
    %dt Achieve
    %dd
      Each member earns achievements as they continue to work towards better self-management.
      Each achievement can be shared to social media channels.
