
//region Effects
.smooth
{
  transition: ease 0.3s;
  transition-property: all;
}
//endregion

//region Application
A
{
  transition: 0.4s ease;
}
HTML,BODY
{
  height: 100%;
}
#Application
{
  //margin-top: 65px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  .navigation-gap
  {
    height: 65px;
  }
}
#footer
{
  height: 60px;
  background-color: darken($body-bg, 4%);
}
#footer > .container
{
  padding-left: 15px;
  padding-right: 15px;
}
#primer
{
  font-weight: 400;
  margin-bottom: 8px;
  color: $brand-info;
}
.take-notice
{
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  color: darken($brand-info, 15%);
  font-weight: 500;
  letter-spacing: 1.1px;
}
//endregion

//region Authentication

#sign-in.content-login.smooth
{
  margin-top: 40px;
}

//endregion

//region Error Messages
.container-flash
{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.alert-flash
{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
//endregion

//region Content classes
.content-document
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-flash
{
  @include column(12, 8, 6, 6);
  @include column-offsets(0, 2, 3, 3);
}
.content-nav
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-welcome
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-dashboard
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-member
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-member-form
{
  @include column(12, 10, 8, 6);
  @include column-offsets(0, 1, 2, 3);
}
.content-recipe-form
{
  @include column(12, 10, 8, 6);
  @include column-offsets(0, 1, 2, 3);
}
.content-login
{
  @include column(12, 8, 6, 4);
  @include column-offsets(0, 2, 3, 4);
}
.content-settings
{
  @include column(10, 10, 8, 8);
  @include column-offsets(1, 1, 2, 2);
}
.content-readings
{
  @include column(12, 10, 8, 6);
  @include column-offsets(0, 1, 2, 3);
}
.content-history
{
  @include column(12, 12, 6, 6);
}
.content-quickies
{
  @include column(12, 12, 6, 6);
}
.half
{
  @include column(12, 6, 6, 6);
  @include column-offsets(0, 0, 0, 0);
}
//endregion

//region Pagination
.pagination-previous, .pagination-next
{
  @include column(4, 4, 4, 4);
}
.pagination-entries
{
  @include column(4, 4, 4, 4);
}
//endregion

//region Dashboard
.dashboard-summary-item
{
  @include column(2, 2, 2, 2);
  @include column-offsets(1, 1, 1, 1);
}
.dashboard-nav-item
{
  @include column(2, 2, 2, 2);
}
#dashboard
{
}
#dashboard_tabs a.readings
{
  border-left-width: 0px;
  border-right-width: 0px;
}
#dashboard_tabs a.reports
{
  border-right-width: 0px;
}
#dashboard_tabs a.recipes
{
  border-right-width: 0px;
}
.separator
{
  margin-top: 5px;
  margin-bottom: 5px;
  @include column(12, 12, 12, 12);
}
.list-group-horizontal .list-group-item {
  display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}
.quickies-item
{
  display: block;
  margin-bottom: 10px;
}
UL#overview
{
  list-style-type: none;
  display: inline;
  width: auto;
  margin: 0;
  padding: 0;
  li.overview-item
  {
    width: 25%;
    float: left;
    overflow: hidden;
    .item-label
    {
      @media (min-width: 768px)
      {
        font-size: floor(($font-size-base * 0.9));
      }
      @media (max-width: 768px)
      {
        font-size: floor(($font-size-base * 0.78));
      }
      display: block;
    }
    .item-value
    {
      display: inline-block;
      font-weight: bold;
    }
  }
}
//endregion

//region General
.tabbed
{
  border-top: 0px;
}
.zeroed
{
  padding-bottom: 0px;
}
//endregion

//region Member menu
UL#member_menu > LI
{
  min-width: 170px !important;
}
.username
{
  padding-left: 4px;
}
.menu-icon
{
  padding-right: 5px;
}
//endregion

//region Member navigation
UL#member_nav > LI > A
{
  border-bottom-width: 0px;
}
@media (max-width: 768px)
{
  UL#member_nav.nav-justified > li, UL#member_nav.nav-tabs.nav-justified > li
  {
    display: table-cell !important;
  }
}
@media (max-width: 480px)
{
  UL#member_nav.nav-justified > li, UL#member_nav.nav-tabs.nav-justified > li
  {
    display: table-cell !important;
    float: none;
  }
}
//endregion

//region Member settings
#settings_for_calculation
{
  display: none;
}
//endregion

//region Members
.asterisk
{
  font-size: floor($font-size-base * 0.92);
  color: $brand-warning;
}
#accept-terms
{
  margin-left: 15px;
}
.optional
{
  color: lighten($gray-light, 10%);
}
#terms.modal.fade
{
  .modal-dialog
  {
    .modal-content
    {
      .modal-body
      {
        height: 60vh;
        overflow-y: auto;
        P
        {
          font-family: $font-family-serif;
          font-size: floor($font-size-base * 0.95);
        }
      }
    }
  }
}
//endregion

//region Readings
#reading-actions.list-group.list-group-horizontal .list-group-item
{
  padding: 5px 8px;
  &:last-child
  {
    border-left-width: 0px;
  }
}
//endregion
