
//region Effects
.smooth
{
  transition: ease 0.3s;
  transition-property: all;
}
//endregion

//region Application
#Application
{
  margin-top: 65px;
}
#primer
{
  font-weight: 400;
  margin-bottom: 8px;
  color: $brand-info;
}
//endregion

//region Authentication

#sign-in.content-login.smooth
{
  margin-top: 40px;
}

//endregion

//region Content classes
.content-document
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-nav
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-welcome
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-dashboard
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-member
{
  @include column(12, 10, 10, 10);
  @include column-offsets(0, 1, 1, 1);
}
.content-register
{
  @include column(12, 10, 8, 6);
  @include column-offsets(0, 1, 2, 3);
}
.content-login
{
  @include column(12, 8, 6, 4);
  @include column-offsets(0, 2, 3, 4);
}
.content-settings
{
  @include column(10, 10, 8, 8);
  @include column-offsets(1, 1, 2, 2);
}
.content-history
{
  @include column(12, 12, 6, 6);
}
.content-quickies
{
  @include column(12, 12, 6, 6);
}
.half
{
  @include column(12, 6, 6, 6);
  @include column-offsets(0, 0, 0, 0);
}
//endregion

//region Dashboard
.quickies-item
{
  display: block;
  margin-bottom: 10px;
}
UL#overview
{
  list-style-type: none;
  display: inline;
  width: auto;
  margin: 0;
  padding: 0;
  li.overview-item
  {
    width: 25%;
    float: left;
    overflow: hidden;
    .item-label
    {
      @media (min-width: 768px)
      {
        font-size: floor(($font-size-base * 0.9));
      }
      @media (max-width: 768px)
      {
        font-size: floor(($font-size-base * 0.78));
      }
      display: block;
    }
    .item-value
    {
      display: inline-block;
      font-weight: bold;
    }
  }
}
//endregion

//region General
.tabbed
{
  border-top: 0px;
}
.zeroed
{
  padding-bottom: 0px;
}
//endregion

//region Member menu
UL#member_menu > LI
{
  min-width: 170px !important;
}
.username
{
  padding-left: 4px;
}
.menu-icon
{
  padding-right: 5px;
}
//endregion

//region Member navigation
UL#member_nav > LI > A
{
  border-bottom-width: 0px;
}
@media (max-width: 768px)
{
  UL#member_nav.nav-justified > li, UL#member_nav.nav-tabs.nav-justified > li
  {
    display: table-cell !important;
  }
}
@media (max-width: 480px)
{
  UL#member_nav.nav-justified > li, UL#member_nav.nav-tabs.nav-justified > li
  {
    display: table-cell !important;
    float: none;
  }
}
//endregion

//region Member settings
#settings_for_calculation
{
  display: none;
}
//endregion

//region Members
#member-welcome
{
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  color: $brand-info;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.optional
{
  color: lighten($gray-light, 10%);
}
#terms.modal.fade
{
  .modal-dialog
  {
    .modal-content
    {
      .modal-body
      {
        height: 60vh;
        overflow-y: auto;
      }
    }
  }
}
//endregion
